workflows/pipeline_full.json
{
  "name": "Full Pipeline — A → Approval → B",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-a",
      "name": "Webhook /start",
      "type": "n8n-nodes-base.webhook",
      "position": [100, 300],
      "webhookId": "pipeline-start",
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-b",
      "name": "Webhook /approve",
      "type": "n8n-nodes-base.webhook",
      "position": [100, 650],
      "webhookId": "pipeline-approve",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $json.body.account_id, company: $json.body.company, transcript_path: $json.body.transcript_path }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "run-pipeline-a",
      "name": "Pipeline A — POST /run",
      "type": "n8n-nodes-base.httpRequest",
      "position": [400, 300],
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst body   = $('Webhook /start').item.json.body;\n\nif (!result.ok) {\n  return [{ json: {\n    ok      : false,\n    error   : 'Pipeline A failed',\n    details : result\n  }}];\n}\n\nconst memo = result.files?.memo || {};\nconst spec = result.files?.agentDraftSpec || {};\n\nreturn [{ json: {\n  ok          : true,\n  account_id  : body.account_id,\n  company     : body.company,\n  message     : 'Pipeline A complete. Review v1 summary then POST to /approve.',\n  next_step   : {\n    url    : 'POST http://localhost:5678/webhook-test/approve',\n    approve: { account_id: body.account_id, company: body.company, decision: 'approve' },\n    reject : { account_id: body.account_id, company: body.company, decision: 'reject'  }\n  },\n  v1_summary: {\n    company_name    : memo.company_name          || body.company,\n    industry        : memo.industry_type         || 'unknown',\n    services        : memo.services_supported    || [],\n    business_hours  : memo.business_hours        || {},\n    office_address  : memo.office_address        || null,\n    emergency_def   : memo.emergency_definition  || [],\n    emergency_contacts: memo.emergency_routing_rules?.contacts || [],\n    after_hours     : memo.after_hours_flow_summary  || '',\n    office_hours    : memo.office_hours_flow_summary || '',\n    agent_name      : spec.agent_name            || 'unnamed',\n    retell_agent_id : spec.retell_agent_id       || 'not created',\n    asana_task      : memo.asana_task_gid        || 'not created',\n    unknowns        : memo.questions_or_unknowns || []\n  }\n}}];"
      },
      "id": "build-v1-summary",
      "name": "Build v1 Summary",
      "type": "n8n-nodes-base.code",
      "position": [700, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "respond-a",
      "name": "Respond — Review v1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1000, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook /approve').item.json.body;\nconst decision = (body.decision || '').toLowerCase().trim();\n\nif (decision !== 'approve') {\n  return [{ json: {\n    ok       : false,\n    rejected : true,\n    account_id: body.account_id,\n    notes    : body.notes || 'No notes provided'\n  }}];\n}\n\n// Pass through for next node\nreturn [{ json: {\n  approved   : true,\n  account_id : body.account_id,\n  company    : body.company,\n  has_form   : !!(body.form_data && Object.keys(body.form_data).length > 0),\n  form_data  : body.form_data || null,\n  onboarding_path: body.onboarding_path || null\n}}];"
      },
      "id": "check-decision",
      "name": "Check Decision",
      "type": "n8n-nodes-base.code",
      "position": [400, 650],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "approved-check",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-approved",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "position": [700, 650],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "form-check",
              "leftValue": "={{ $json.has_form }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-form",
      "name": "Has Form Data?",
      "type": "n8n-nodes-base.if",
      "position": [1000, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/form",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $('Check Decision').item.json.account_id, company: $('Check Decision').item.json.company, form_data: $('Check Decision').item.json.form_data }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "run-form",
      "name": "Apply Form Data → v2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1300, 400],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/onboard",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $('Check Decision').item.json.account_id, company: $('Check Decision').item.json.company, onboarding_path: $('Check Decision').item.json.onboarding_path }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "run-b",
      "name": "Pipeline B — POST /onboard",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1300, 600],
      "typeVersion": 4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "respond-rejected",
      "name": "Respond — Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1000, 800],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst ctx    = $('Check Decision').item.json;\nconst memo   = result.files?.memo || {};\n\nreturn [{ json: {\n  ok           : result.ok,\n  account_id   : ctx.account_id,\n  company      : ctx.company,\n  pipeline_a   : '✅ v1 created',\n  pipeline_b   : result.ok ? `✅ ${result.version || 'v2'} created` : '❌ failed',\n  conflicts    : result.conflicts?.length ?? 0,\n  changes      : result.changes?.length   ?? 0,\n  retell_agent : memo.retell_agent_id     || 'see outputs',\n  asana_task   : memo.asana_task_gid      || 'see outputs',\n  unknowns_remaining: memo.questions_or_unknowns || []\n}}];"
      },
      "id": "final-summary",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "position": [1600, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "respond-b",
      "name": "Respond — Pipeline B Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1900, 500],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook /start": {
      "main": [[{ "node": "Pipeline A — POST /run", "type": "main", "index": 0 }]]
    },
    "Pipeline A — POST /run": {
      "main": [[{ "node": "Build v1 Summary", "type": "main", "index": 0 }]]
    },
    "Build v1 Summary": {
      "main": [[{ "node": "Respond — Review v1", "type": "main", "index": 0 }]]
    },
    "Webhook /approve": {
      "main": [[{ "node": "Check Decision", "type": "main", "index": 0 }]]
    },
    "Check Decision": {
      "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]]
    },
    "Approved?": {
      "main": [
        [{ "node": "Has Form Data?",    "type": "main", "index": 0 }],
        [{ "node": "Respond — Rejected","type": "main", "index": 0 }]
      ]
    },
    "Has Form Data?": {
      "main": [
        [{ "node": "Apply Form Data → v2",    "type": "main", "index": 0 }],
        [{ "node": "Pipeline B — POST /onboard","type": "main", "index": 0 }]
      ]
    },
    "Apply Form Data → v2":       { "main": [[{ "node": "Final Summary", "type": "main", "index": 0 }]] },
    "Pipeline B — POST /onboard": { "main": [[{ "node": "Final Summary", "type": "main", "index": 0 }]] },
    "Final Summary": {
      "main": [[{ "node": "Respond — Pipeline B Done", "type": "main", "index": 0 }]]
    }
  }
}